* {
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	height: .5em;
	width: .5em;
}
::-webkit-scrollbar-thumb {
	background-color: #FF0000;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
}
header {
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	transform: rotate(-90deg) translateX(-50%);
	transform-origin: left top;
	top: 50%;
	left: 0;
	font-size: 1.4rem;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
header a {
	text-decoration: none;
	color: #000;
	transition: .5s;
}
header a:hover {
	transform: scale(1.05);
}
header a img {
	width: 5em;
	transform: rotate(180deg)
}
main > section {
	position: absolute;
	width: 100vw;
	display: flex;
	overflow: auto;
	height: 100vh;
	scroll-snap-type: x mandatory;
}
main > section > ul {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	justify-content: center;
	align-items: center;
}
main > section > ul > li:first-of-type {
	width: 100vw;
	height: 98.5vh;
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: center;
	align-items: center;
	scroll-snap-align: center;
	margin-right: -16vw;
}
main > section > ul > li:not(li:first-of-type) {
	width: 100vw;
	height: 98.5vh;
	display: grid;
	list-style: none;
	grid-template: repeat(5, 1fr 2fr) / repeat(5, 3fr 2fr);
	scroll-snap-align: center;
	margin-right: -16vw;
	opacity: 0;
}
.loader {
	position: absolute;
	top: 43em;
	width: 3em;
	height: 3em;
	border: .1em solid #000;
	border-radius: 50%;
	animation: loaderAnim 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.visible {
	animation: appear 4s both;
}
#error {
	position: absolute;
	text-align: center;
	font-size: 1.5em;
	color: red;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
}
main > section > ul > li > h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 4em;
	width: 60%;
	color: #000;
	line-height: 1.3em;
}
main > section > ul > li > label{
	margin-top: 3em;
}
main > section > ul > li > select {
	width: 20em;
    border-radius: .5em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: all .5s ease;
    font-size: 1em;
    text-align: left;
    border: none;
	padding: .8em .5em;
	margin-top: 4em;
}
main > section > ul > li img {
	grid-area: 3 / 2 / span 2 / span 2;
	height: 30em;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
main > section > ul > li h2 {
	padding: .2em 0;
	text-align: left;
	grid-area: 4 / 6 / span 3 / span 3;
	font-size: 2em;
}
main > section > ul > li p:first-of-type{
	grid-area: 5 / 6 / span 1 / span 3;
	line-height: 1.7em;
	margin-top: -8em;
}
main > section > ul > li p:last-of-type {
	font-style: italic;
	grid-area: 6 / 2 / span 5 / span 3;
	margin-top: 2em;
}
@keyframes loaderAnim {
	0% {
	  transform: scale(0);
	  opacity: 1;
	}
	50% {
	  transform: scale(3);
	  opacity: 0;
	}
	100% {
	  transform: scale(0);
	  opacity: 1;
	}
  }
  @keyframes appear {
	0% {
		clip-path: polygon(0 0, -50% 0, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(0 0, 120% 0, 120% 120%, 0 120%);
		opacity: 1;
	}
}